.card{
        width: 250px;
        height: 510px;
        background-color: aqua;
        display: inline-block;
        margin: 5px;
}
img{
        width: 100%;   
}
.card h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -20px;
}
.card p{
    font-family: 'Poppins', sans-serif;

}
.poleft{
        position: relative;
        left: 10px;
}
.hh{
 color: #fff;
}
@media screen and (max-width: 450px){
   div .card{
        width: 95%;
        height: 650px;
   }
}